body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
form input[type="text"] {
    width: 40%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
form button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li form {
    margin: 0;
    display: flex;
}
ul li form button {
    background-color: #dc3545;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    color: white;
}
ul li form input[type="text"] {
    width: auto;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.asd1 {
    margin: 3px;
}